.about-left_nav_bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top:132px;
  margin-top: 2rem;
  padding: 1rem 1rem 1rem 0rem;
  background-color: var(--color-main-content-background);
  border-radius: 0 10px 10px 0;
  width: 15rem;
}

.about-left_nav_bar nav{
  display: flex;
  flex-direction: column;
}

.left-navbar_link {
  color: var(--color-text);
  text-decoration: none;
  font-size: 1rem;
  margin-top: 1rem;
  padding-left: 1rem;
}

.active {
  /* text-decoration: underline; */
  padding-left: 1.5rem;
  font-weight:700;
  font-size: 120%;
}