.about-left_nav_bar {
  display: block;
  margin-top: 2rem;
  margin-right: 1rem;
  align-self: stretch;
  font-size: calc(1.1 * var(--articles-font-size));
  line-height: calc(2 * var(--articles-font-size));
  flex-shrink: 0;
}

@media (max-width: 53rem){
  .about-left_nav_bar {
    display: none;
  }
}

.nav_bar-list {
  display: flex;
  flex-direction: column;
  position: sticky;
  padding: 1rem 1rem 1rem 0rem;
  background-color: var(--color-main-content-background);
  border-radius: 0 20px 20px 0;
  width: calc(6.72 * 2 * var(--articles-font-size));
  top: calc(10rem + 4px);
  margin: 0;
  list-style: none;
}

@media (max-width: 160rem){
  .nav_bar-list {
    top: calc(7rem + 4px);
  }
}

@media (max-width: 121rem){
  .nav_bar-list {
    top: calc(5rem + 4px);
  }
}

@media (max-width: 81rem){
  .nav_bar-list {
    top: calc(4rem + 4px);
  }
}

.left-navbar_link {
  color: var(--color-text);
  text-decoration: none;
  margin: var(--articles-font-size) var(--articles-font-size) 0;
  width: fit-content;
  white-space: nowrap;
}

.left-navbar_link:last-of-type {
  margin-bottom: var(--articles-font-size);
}

.left-navbar_link:hover {
  text-decoration: var(--color-tertiary) underline solid calc(0.15 * var(--articles-font-size));
}

.active {
  font-weight:700;
  text-decoration: var(--color-tertiary) underline solid calc(0.25 * var(--articles-font-size));
}