.weather-layer-bundle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weather-layer-bundle select{
  margin-left: 20px;
  height: fit-content;
  background-color: var(--color-main-content-background);
  color: var(--color-text)
}

.weather-layer-bundle select option:hover{
  background-color: rgb(255, 0, 0);
}