.zoom-level {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  margin: 0;
  padding: 0;
}

.zoom-level p {
  padding-right: 0.5rem;
}

.zoom-level li label {
  cursor:pointer;
  width: auto;
  height: auto;
  background-color: var(--color-main-content-background);
}

.zoom-level li label span {
  padding: 0.1rem;
  border: 1px solid var(--color-primary);
  color: var(--color-text);
}

.zoom-level li label input{
  display:none;
} 

.zoom-level li label input[type="radio"]:checked + span {
  background-color: var(--color-primary);
  color: var(--color-inverse-text);
}