.units {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  margin: 0;
}

.units p {
  padding-right: 0.5rem;
}

.units li label {
  cursor:pointer;
  width: auto;
  height: auto;
  
}

.units li label span {
  padding: 0.1rem;
  border: 1px solid black;
}

.units li label input{
  display:none;
} 

.units li label input[type="radio"]:checked + span {
  background-color: rgb(0, 0, 0);
  color: white;
}