.weather-selector {
  --svg-current-icon-size: 7rem;
  --svg-hourly-icon-size: 3rem;
}

.weather-svg_current{
  width: var(--svg-current-icon-size);
  height: var(--svg-current-icon-size);
}

.weather-svg_hourly{
  width: var(--svg-hourly-icon-size);
  height: var(--svg-hourly-icon-size);
}

.weather-svg_daily{
  height: calc(4 * var(--daily-font-size));
}
