.weather-svg_current{
  height: calc(6 * var(--current-font-size));
}

.weather-svg_hourly{
  height: calc(4 * var(--hourly-font-size));
}

.weather-svg_daily{
  height: calc(4 * var(--daily-font-size));
}
