@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

.articles-main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 99vw;
  align-items: center;
  --articles-font-size: var(--font-size-2xl);
  font-size: var(--articles-font-size);
  line-height: calc(1.7 * var(--articles-font-size));
}

@media (max-width: 160rem) {
  .articles-main {
    --articles-font-size: var(--font-size-lg);
  }
}

@media (max-width: 121rem) {
  .articles-main {
    --articles-font-size: var(--font-size-sm);
  }
}

@media (max-width: 81rem) {
  .articles-main {
    --articles-font-size: var(--font-size-0xs);
  }
}

@media (max-width: 53rem) {
  .articles-main {
    --articles-font-size: var(--font-size-sm);
  }
}

.articles-content {
  display: flex;
  flex-direction: column;
  margin: 2rem 12rem;
  background-color: var(--color-main-content-background);
  padding: 1.5rem;
  width: calc(55 * var(--articles-font-size));
  border-radius: 20px;
}

@media (max-width: 53rem){
  .articles-content {
    width: 99vw;
  }
}

.articles-content p, .articles-content h5 {
  margin-top: 0;
}

.articles-content h2 {
  text-align: center;
}

.articles-content h4 {
  margin-bottom: 0;
}
