@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

.articles-main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 99vw;
  align-items: flex-start;
  justify-content: flex-start;
  --articles-font-size: var(--font-size-2xl);
  font-size: var(--articles-font-size);
  line-height: calc(1.7 * var(--articles-font-size));
}

@media (max-width: 160rem) {
  .articles-main {
    --articles-font-size: var(--font-size-lg);
  }
}

@media (max-width: 121rem) {
  .articles-main {
    --articles-font-size: var(--font-size-sm);
  }
}

@media (max-width: 81rem) {
  .articles-main {
    --articles-font-size: var(--font-size-0xs);
  }
}

@media (max-width: 53rem) {
  .articles-main {
    --articles-font-size: var(--font-size-sm);
    justify-content: center;
  }
}

.articles-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

@media (max-width: 81rem){
  .articles-content {
    align-items: center;
  }
}

@media (max-width: 53rem){
  .articles-content {
    width: 95vw;
  }
}

@media (max-width: 36rem){
  .articles-content {
    width: 99vw;
  }
}

.articles-content p, .articles-content h5 {
  margin-top: 0;
}

.articles-content h2 {
  text-align: center;
}

.articles-content h4 {
  margin-bottom: 0;
}
