.weather-main{
  align-self: center;
  height: fit-content;
  background-color: var(--color-main-content-background);
  border-radius: 10px;
  padding: 0 1.5rem;
  z-index: 1;
  width: 800px;
  flex-shrink: 1;
}