.info-bundle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--color-grey-low-contrast);
  height: auto;
  border-radius: 10px;
}

.location_units-bundle{
  display: flex;
}

.weather-bundle {
  display: flex;
}