.humidity-bundle{
  position:relative;
}

.humidity-description_current{
  position:absolute;
  text-align: center;
  margin: 0;
  width: 100%;
  top: calc(9.8 / 3 * var(--current-font-size));
  font-size: calc(var(--current-font-size));
}

.humidity-description_hourly{
  position:absolute;
  text-align: center;
  margin: 0;
  width: calc(2 * var(--hourly-font-size));
  top: calc(1.4 * var(--hourly-font-size));
  font-size: calc(0.75 * var(--hourly-font-size));
}

.humidity-description_daily{
  position:absolute;
  text-align: center;
  margin: 0;
  width: calc(2 * var(--daily-font-size));
  top: calc(1.4 * var(--daily-font-size));
  font-size: calc(0.75 * var(--daily-font-size));
}

.humidity-description_help{
  position:absolute;
  text-align: center;
  margin: calc(3 * var(--help-font-size));
  width: calc(3.5 * var(--help-font-size));
  top: calc(5 * var(--help-font-size));
  font-size: calc(0.75 * var(--help-font-size));
}

.humidity-description_current:hover,
.humidity-description_hourly:hover,
.humidity-description_daily:hover,
.humidity-description_help:hover{
  background-color: var(--color-background);
  transform: scale(1.5);
  border: 1px solid var(--color-grey-high-contrast);
  border-radius: 2px;
  transition: all 0.5s linear;
  cursor: none;
}

.humidity-description_help:hover{
  margin-top: 0;
  margin-bottom: 0;
}

.humidity-icon_current {
  height: calc(7 * var(--current-font-size));
}

.humidity-icon_hourly {
  height: calc(3 * var(--hourly-font-size));
}

.humidity-icon_daily {
  height: calc(3 * var(--daily-font-size));
}

.humidity-icon_help {
  height: calc(5 * var(--help-font-size));
  margin: calc(3 * var(--help-font-size));
}