.humidity-bundle{
  position:relative;
  --current-font-size: var(--font-size-sm);
}

.humidity-description_current{
  position:absolute;
  text-align: center;
  margin: 0;
  width: calc(2 * var(--current-font-size));
  top: calc(1.4 * var(--current-font-size));
  font-size: calc(0.75 * var(--current-font-size));
}

.humidity-description_hourly{
  position:absolute;
  text-align: center;
  margin: 0;
  width: calc(2 * var(--hourly-font-size));
  top: calc(1.4 * var(--hourly-font-size));
  font-size: calc(0.75 * var(--hourly-font-size));
}

.humidity-description_daily{
  position:absolute;
  text-align: center;
  margin: 0;
  width: calc(2 * var(--daily-font-size));
  top: calc(1.4 * var(--daily-font-size));
  font-size: calc(0.75 * var(--daily-font-size));
}


.humidity-description_hourly:hover,
.humidity-description_daily:hover{
  background-color: var(--color-background);
  transform: scale(1.5);
  border: 1px solid var(--color-grey-high-contrast);
  border-radius: 2px;
  transition: all 0.5s linear;
  cursor: none;
}

.humidity-icon_current {
  height: calc(3 * var(--current-font-size));
}

.humidity-icon_hourly {
  height: calc(3 * var(--hourly-font-size));
}

.humidity-icon_daily {
  height: calc(3 * var(--daily-font-size));
}