.rain_pop-bundle {
  display: flex;
  align-items: center;
}

.rain_pop-bundle p{
  display: inline-block;
  text-align: center;
}

.rain-prob-icon_hourly {
  width: calc(1 * var(--hourly-font-size));
  margin-right: calc(0.3 * var(--hourly-font-size));
}

.rain-prob-icon_daily {
  width: calc(1 * var(--daily-font-size));
  margin-right: calc(0.3 * var(--daily-font-size));
}

.rain-prob-icon_help {
  width: calc(1.2 * var(--help-font-size));
  transform: translate(0, calc(0.5 * var(--help-font-size)));
  margin: 0 calc(0.3 * var(--help-font-size));
}
