.uvi-icon_current {
  height: calc(11 * var(--current-font-size));
}

.uvi-icon_hourly {
  height: calc(3 * var(--hourly-font-size));
}

.uvi-icon_daily {
  height: calc(3 * var(--daily-font-size));
}

.uvi-icon_help {
  height: calc(5 * var(--help-font-size));
  margin: calc(0.5 * var(--help-font-size)) calc(0.5 * var(--help-font-size)) calc(1 * var(--help-font-size)) calc(0.5 * var(--help-font-size));
}

.uvi-icon_hourly:hover,
.uvi-icon_daily:hover,
.uvi-icon_help:hover{
  transform: scale(1.5);
  transition: all 0.5s linear;
  cursor: none;
}