.css_logo-link {
  margin: 3rem;
  background: none;
  border: none;
  padding: 0;
  width: fit-content;
}

#css_logo-svg {
  height: 12rem;
}

@media (max-width: 161rem) {
  .css_logo-link {
    margin: 2.1rem;
  }
  #css_logo-svg {
    height: 8.4rem;
  }
}

@media (max-width: 121rem) {
  .css_logo-link {
    margin: 1.5rem;
  }
  #css_logo-svg {
    height: 6rem;
  }
}

@media (max-width: 81rem) {
  .css_logo-link {
    margin: 1.2rem;
  }
  #css_logo-svg {
    height: 4.8rem;
  }
}

@media (max-width: 36rem) {
  .css_logo-link {
    margin: 2.1rem;
  }
  #css_logo-svg {
    height: 8.4rem;
  }
}