.page-footer {
  color: var(--color-grey-high-contrast);
  align-self: center;
  width: 100%;
  border-top: 1px solid var(--color-grey-high-contrast);
  margin-top: 16px;
  padding: 16px 0;
  bottom: 0px;
  display: flex;
  flex-direction: column;
}

.page-footer p {
  align-self: center;
}
