#loading-spinner-svg {
  margin: 10rem 0;
  width: 55rem;
}

@media (max-width: 160rem) {
  #loading-spinner-svg {
    margin: 8rem 0;
    width: 45rem;
  }
}

@media (max-width: 121rem) {
  #loading-spinner-svg {
    margin: 5rem 0;
    width: 25rem;
  }
}

@media (max-width: 81rem) {
  #loading-spinner-svg {
    margin: 3rem 0;
    width: 20rem;
  }
}

@media (max-width: 53rem) {
  #loading-spinner-svg {
    margin: 2rem 0;
    width: 15rem;
  }
}

@media (max-width: 36rem) {
  #loading-spinner-svg {
    margin: 2rem 0;
    width: 12rem;
  }
}
