.theme-button {
  margin-left: 1rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  aspect-ratio: 1;
  border-radius: 50%;
}

@media (max-width: 38.5rem) {
  .theme-button {
    margin-left: 0;
  }
}

@media (max-width: 36rem) {
  .theme-button {
    margin-left: 1rem;
  }
}

#theme-svg {
  height: 4rem;
}

@media (max-width: 161rem) {
  #theme-svg {
    height: 2.8rem;
  }
}

@media (max-width: 121rem) {
  #theme-svg {
    height: 2rem;
  }
}

@media (max-width: 81rem) {
  #theme-svg {
    height: 1.6rem;
  }
}

@media (max-width: 36rem) {
  #theme-svg {
    height: 2.8rem;
  }
}
