.app-component {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  align-items: center;
}

.main-content {
  flex-grow: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  /* background-color: var(--color-main-content-background);
  border-radius: 10px; */
  padding: 0 1.5rem;
  z-index: 1;
  width: 100%;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--color-inverse-text);
  background: var(--color-secondary);
}

::selection {
  color: var(--color-inverse-text);
  background: var(--color-secondary);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: var(--color-main-content-background);
}

::-webkit-scrollbar-thumb {
  background-color: var(
    --color-grey-high-contrast
  ); /* color of the scroll thumb */
  border-radius: 2px; /* roundness of the scroll thumb */
}