.app-component {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 10px);
  margin: 0;
  align-items: center;
  overflow-x: visible;
}

.main-content {
  flex-grow: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  /* background-color: var(--color-main-content-background);
  border-radius: 10px; */
  padding: 0 1.5rem;
  z-index: 1;
  width: 99vw;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--color-inverse-text);
  background: var(--color-secondary);
}

::selection {
  color: var(--color-inverse-text);
  background: var(--color-secondary);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  cursor: help;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-button:vertical:decrement {
  background-size: 10px;
  background-position: center center;
  background-image: var(--scroll-thumb-vdecrement-svg);
  background-repeat: no-repeat;
}

::-webkit-scrollbar-button:vertical:increment {
  background-size: 10px;
  background-position: center center;
  background-image: var(--scroll-thumb-vincrement-svg);
  background-repeat: no-repeat;
}

::-webkit-scrollbar-button:horizontal:decrement {
  background-size: 10px;
  background-position: center center;
  background-image: var(--scroll-thumb-hdecrement-svg);
  background-repeat: no-repeat;
}

::-webkit-scrollbar-button:horizontal:increment {
  background-size: 10px;
  background-position: center center;
  background-image: var(--scroll-thumb-hincrement-svg);
  background-repeat: no-repeat;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-high-contrast);
  border-radius: 10px;
}

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement,
::-webkit-scrollbar-button:horizontal:start:increment,
::-webkit-scrollbar-button:horizontal:end:decrement {
  width: 0;
  height: 0;
}