* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: all 0.3s ease-out;
}

.main-content {
  flex-grow: 1;
  height: fit-content;
}

footer {
  border-top: 1px solid var(--color-grey-high-contrast);
  margin-top: 16px;
  padding: 16px 0;
  bottom: 0px;
  width: 618px;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  color: var(--color-grey-high-contrast);
  margin-right: 16px;
  text-decoration: none;
}

.portrait {
  width: 250px;
}