* {
  box-sizing: border-box;
}

@font-face {
  font-family: "AvenirNextPro";
  src: url(./fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: "AvenirNextPro";
  src: url(./fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: "AvenirNextPro";
  src: url(./fonts/AvenirNextLTPro-It.otf);
  font-style: italic;
}

html {
  --font-size-1xs: 0.75rem;
  --font-size-0xs: 0.875rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-0xl: 1.3125rem;
  --font-size-1xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 2.652rem;
  --font-size-4xl: 4rem;
  --font-size-5xl: 6rem;
}

body {
  color: var(--color-text);
  font-family: "AvenirNextPro";
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  min-height: 100vh;
  transition: all 0.5s ease-out;
  align-items: center;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
