.map_distortion-bundle {
  display: flex;
  justify-content: center;
}

/* #map_coordinates-svg1 {
  flex-shrink: 0;
} */

::-moz-selection {
  /* Code for Firefox */
  color: var(--color-inverse-text);
  background: var(--color-secondary);
}

::selection {
  color: var(--color-inverse-text);
  background: var(--color-secondary);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: var(--color-main-content-background);
}

::-webkit-scrollbar-thumb {
  background-color: var(
    --color-grey-high-contrast
  ); /* color of the scroll thumb */
  border-radius: 2px; /* roundness of the scroll thumb */
}

.map_distortion-bundle p {
  height: auto;
  margin: 0;
  padding-top: 1rem;
}

.web_mercator_zoom_0-bundle {
  position: relative;
  align-self: center;
}

#tile_map_zoom_0 {
  position: absolute;
  top: calc(22px + 2rem);
  left: 122px;
  max-width: 256px;
  max-height: 256px;
}

.san_francisco_comparison-bundle {
  position: relative;
  align-self: center;
}

#map_coordinates_comparison-1 {
  position: absolute;
  height: 256px;
  left: calc(64px / 3);
  top: 128px;
}

#map_coordinates_comparison-2 {
  position: absolute;
  height: 256px;
  left: 448px;
  top: 128px;
}

.san_francisco_step_3-bundle {
  position: relative;
  align-self: center;
  margin-top: 2rem;
}

.san_francisco_step_3-bundle img {
  position: absolute;
  height: 133.2px;
}

#map_complementary_center {
  left: 315.9px;
  top: 9.9px;
}

#map_complementary_right {
  left: 450.9px;
  top: 9.9px;
}

#map_complementary_bottom {
  left: 315.9px;
  top: 144.9px;
}

#map_complementary_bottom_right {
  left: 450.9px;
  top: 144.9px;
}

.san_francisco_step_4-bundle {
  position: relative;
  align-self: center;
  margin-top: 2rem;
}

.san_francisco_step_4-bundle img {
  position: absolute;
  height: 256px;
}

#map_step_4_center {
  left: 2.5px;
  top: 2.5px;
}

#map_step_4_right {
  left: 258.5px;
  top: 2.5px;
}

#map_step_4_bottom {
  left: 2.5px;
  top: 258.5px;
}

#map_step_4_bottom_right {
  left: 258.5px;
  top: 258.5px;
}

.san_francisco_step_5-bundle {
  position: relative;
  align-self: center;
  margin-top: 2rem;
}

#map_step_5 {
  position: absolute;
  height: 540px;
  top: 120px;
  right: 30px;
  z-index: -5;
}

.san_francisco_step_6-bundle {
  position: relative;
  align-self: center;
  margin-top: 2rem;
}

.san_francisco_step_6-bundle img {
  position: absolute;
  height: 256px;
  z-index: -5;
}

#map_step_6_center {
  left: 2.5px;
  top: 2.5px;
}

#map_step_6_right {
  left: 258.5px;
  top: 2.5px;
}

#map_step_6_bottom {
  left: 2.5px;
  top: 258.5px;
}

#map_step_6_bottom_right {
  left: 258.5px;
  top: 258.5px;
}

.san_francisco_step_7-bundle {
  position: relative;
  align-self: center;
  margin-top: 2rem;
}

.san_francisco_step_7-bundle img {
  position: absolute;
  z-index: -5;
}

#map_step_7_street {
  left: 60px;
  top: calc(2rem + 1px);
  height: 153.6px;
}

#map_step_7_weather {
  left: 385.4px;
  top: calc(2rem + 1px);
  height: 153.6px;
}

#map_step_7_combined {
  left: 262.8px;
  top: calc(2rem + 231.6px);
  height: 307.2px;
}