.map_distortion-bundle {
  display: flex;
  justify-content: center;
}

/* #map_coordinates-svg1 {
  flex-shrink: 0;
} */

::-moz-selection { /* Code for Firefox */
  color: var(--color-inverse-text);
  background: var(--color-secondary);
}

::selection {
  color: var(--color-inverse-text);
  background: var(--color-secondary);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  cursor:pointer;
}

::-webkit-scrollbar-track {
  background: var(--color-main-content-background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-high-contrast);    /* color of the scroll thumb */
  border-radius: 2px;       /* roundness of the scroll thumb */
}

.map_distortion-bundle p{
  height: auto;
  margin: 0;
  padding-top: 1rem;
}

.web_mercator_zoom_0-bundle{
  position: relative;
  align-self: center;
}

#tile_map_zoom_0{
  position: absolute;
  top: 22px;
  left: 122px;
  max-width: 256px;
  max-height: 256px;
}

.san_francisco_comparison-bundle {
  position: relative;
  align-self: center;
}

#map_coordinates_comparison-1 {
  position: absolute;
  height: 256px;
  left: calc(64px / 3);
  top: 128px
}

#map_coordinates_comparison-2 {
  position: absolute;
  height: 256px;
  left: 448px;
  top: 128px
}