.info-bundle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem 0;
  padding: 1rem;
  height: auto;
  width: 60vw;
  background-color: var(--color-main-content-background);
  border-radius: 10px;
}

@media(max-width: 121rem){
  .info-bundle {
    width: 75vw;
  }
}

@media(max-width: 81rem){
  .info-bundle {
    width: 98vw;
  }
}

.location_units-bundle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  gap: 1rem;
}

.weather-bundle {
  display: flex;
}
