.info-bundle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem 0;
  padding: 1rem;
  height: auto;
  width: 100vw;
}

.location_units-bundle{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.weather-bundle {
  display: flex;
}