.info-bundle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--color-main-content-background);
  border-radius: 20px;
}

.location_units-bundle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  gap: 1rem;
}

.weather-bundle {
  display: flex;
}
