.article-content {
  display: flex;
  flex-direction: column;
}

.article-content a {
  color: var(--color-hlink);
}

.article-content > svg {
  align-self: center;
}

.article-content > svg,
.article-content > div {
  margin: calc(var(--articles-font-size) * 2) 0
    calc(var(--articles-font-size) * 2) 0;
}

.ref-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ref-span {
  color: var(--color-hlink);
  text-decoration: underline;
  cursor: pointer;
}

.span_italic {
  font-style: italic;
}

#color_transformation-svg1 {
  max-width: calc(37.5 * var(--articles-font-size));
  max-height: calc(11.25 * var(--articles-font-size));
}

#color_transformation-svg2 {
  max-width: calc(35.0625 * var(--articles-font-size));
  max-height: calc(37.125 * var(--articles-font-size));
}

#color_transformation-svg3 {
  max-width: calc(34.375 * var(--articles-font-size));
  max-height: calc(13.75 * var(--articles-font-size));
}

#color_transformation-svg4 {
  max-width: calc(33.75 * var(--articles-font-size));
  max-height: calc(33.75 * var(--articles-font-size));
}

#color_transformation-svg5 {
  max-width: calc(38.25 * var(--articles-font-size));
  max-height: calc(38.25 * var(--articles-font-size));
}

#color_transformation-svg6 {
  max-width: calc(33 * var(--articles-font-size));
  max-height: calc(19.078125 * var(--articles-font-size));
}

#color_transformation-svg7 {
  max-width: calc(37.5 * var(--articles-font-size));
  max-height: calc(18.75 * var(--articles-font-size));
}

#color_transformation-svg8 {
  max-width: calc(37.5 * var(--articles-font-size));
  max-height: calc(29.0625 * var(--articles-font-size));
}

#color_transformation-svg9 {
  max-width: calc(37.5 * var(--articles-font-size));
  max-height: calc(28.125 * var(--articles-font-size));
}

#color_transformation-svg10,
#color_transformation-svg11 {
  max-width: calc(37.5 * var(--articles-font-size));
  max-height: calc(28.125 * var(--articles-font-size));
}

#color_transformation-svg12,
#color_transformation-svg13 {
  max-width: calc(34.5 * var(--articles-font-size));
  max-height: calc(18.75 * var(--articles-font-size));
}

.color_problems-bundle {
  position: relative;
  align-self: center;
  margin-top: 2rem;
  --image13-parameter: var(--articles-font-size);
  width: calc(48.4375 * var(--image13-parameter));
  height: calc(26.5626 * var(--image13-parameter));
}

@media (max-width: 53rem) {
  .color_problems-bundle {
    --image13-parameter: calc(0.7 * var(--articles-font-size));
  }
}

@media (max-width: 36rem) {
  .color_problems-bundle {
    --image13-parameter: calc(0.42 * var(--articles-font-size));
  }
}

#color_transformation-svg14 {
  position: absolute;
  width: calc(48.4375 * var(--image13-parameter));
  height: calc(26.5626 * var(--image13-parameter));
  z-index: 320;
  top:0;
  left:0;
}

.color_problems-bundle img {
  position: absolute;
  height: calc(16 * var(--image13-parameter));
}

#color_problems_original {
  top: calc(9.920025 * var(--image13-parameter));
  left: calc(0.21875 * var(--image13-parameter));
}

#color_problems_modified {
  top: calc(9.920025 * var(--image13-parameter));
  left: calc(32.21875 * var(--image13-parameter));
}
