.location_date-bundle{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 1rem;
}

.location, .date{
  display: inline-block;
  text-align: center;
  margin: 0;
  font-size: var(--font-size-sm);
}

.location__main, .date__time{
  font-weight: bold;
}

.location__main {
  font-size: 130%;
}