.daily-bundle {
  --daily-font-size: var(--font-size-2xl);
  display: flex;
  flex-direction: row;
  height: calc(34 * var(--daily-font-size));
  width: 100%;
}

@media (max-width: 160rem){
  .daily-bundle {
    --daily-font-size: var(--font-size-lg);
  }
}

@media (max-width: 121rem){
  .daily-bundle {
    --daily-font-size: var(--font-size-sm);
  }
}

@media (max-width: 81rem){
  .daily-bundle {
    --daily-font-size: var(--font-size-0xs);
  }
}

@media (max-width: 53rem){
  .daily-bundle {
    --daily-font-size: var(--font-size-sm);
  }
}

.daily-items {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  padding: 0 0 1rem 0;
  list-style-type: none;
  position: relative;
  --daily-item-width: calc(93.75 * var(--daily-font-size));
}

.daily-item {
  display: flex;
  padding: 0;
  height: calc(15.625 * var(--daily-font-size));
  width: 100%;
  position: relative;
  font-size: var(--daily-font-size);
}

.daily-temperature {
  text-align: center;
  color: var(--color-text);
  position: absolute;
  z-index: 1;
}
.daily-temperature::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: -0.3rem;
  padding: 0 0.3rem;
  background-color: var(--color-main-content-background);
  border-radius: 20%;
  z-index: -80;
  opacity: 0.5;
}

.daily-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  width: fit-content;
}

.daily-info p {
  margin: 0;
}

.daily-date {
  font-weight: bold;
}

.uvi_humidity-bundle {
  display: flex;
  align-items: center;
  padding: calc(0.5 * var(--daily-font-size)) 0;
  gap: calc(0.5 * var(--daily-font-size));
}
