.hourly-bundle {
  --hourly-font-size: var(--font-size-2xl);
  display: flex;
  flex-direction: row;
  height: calc(34 * var(--hourly-font-size));
  width: calc(55 * var(--hourly-font-size));
  /* width: 100%; */
}

@media (max-width: 160rem) {
  .hourly-bundle {
    --hourly-font-size: var(--font-size-lg);
  }
}

@media (max-width: 121rem) {
  .hourly-bundle {
    --hourly-font-size: var(--font-size-sm);
  }
}

@media (max-width: 81rem) {
  .hourly-bundle {
    --hourly-font-size: var(--font-size-0xs);
  }
}

@media (max-width: 53rem) {
  .hourly-bundle {
    width: 90vw;
    --hourly-font-size: var(--font-size-sm);
  }
}

.hourly-items {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  padding: 0 0 1rem 0;
  list-style-type: none;
  position: relative;
  --hourly-item-width: calc(93.75 * 49 / 9 * var(--hourly-font-size));
}

.hourly-item {
  display: flex;
  padding: 0;
  height: calc(15.625 * var(--hourly-font-size));
  width: 100%;
  position: relative;
  font-size: var(--hourly-font-size);
}

.graph-lines {
  flex-shrink: 0;
}

.hourly-temperature {
  text-align: center;
  color: var(--color-text);
  position: absolute;
  z-index: 1;
}
.hourly-temperature::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: -0.3rem;
  padding: 0 0.3rem;
  background-color: var(--color-main-content-background);
  border-radius: 20%;
  z-index: -80;
  opacity: 0.5;
}

.hourly-graph__dots {
  width: calc(var(--hourly-font-size) / 16 * 6);
  height: calc(var(--hourly-font-size) / 16 * 6);
  position: absolute;
  clip-path: circle(50%);
  z-index: 10;
}

.hourly-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  width: fit-content;
  z-index: 25;
}

.hourly-info p {
  margin: 0;
}

.uvi_humidity-bundle {
  display: flex;
  align-items: center;
  padding: calc(0.5 * var(--hourly-font-size)) 0;
  gap: calc(0.5 * var(--hourly-font-size));
}
