.info-buttons {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.info-buttons button{
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  padding: 8px;
  height: 34px;
}

.info-buttons button:hover{
  background-color: black;
  color: white;
}

.info-buttons .active{
  background-color: white;
  color: black;
}

