.info-buttons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

@media (max-width: 160rem){
  .info-buttons {
    margin-bottom: 1.8rem;
  }
}

@media (max-width: 121rem){
  .info-buttons {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 81rem){
  .info-buttons {
    margin-bottom: 1.2rem;
  }
}

@media (max-width: 53rem){
  .info-buttons {
    margin-bottom: 1rem;
  }
}

@media (max-width: 36rem){
  .info-buttons {
    margin-bottom: 0.75rem;
  }
}

.info-button {
  cursor: pointer;
  flex-grow: 1;
  flex-shrink: 0;
  width: 33%;
  padding: 0.5rem 0;
  border: 0;
  color: var(--color-text);
  background-color: var(--color-main-content-background);
  font-size: var(--font-size-2xl);
}

@media (max-width: 160rem){
  .info-button {
    font-size: var(--font-size-1xl);
  }
}

@media (max-width: 121rem){
  .info-button {
    font-size: var(--font-size-lg);
  }
}

@media (max-width: 81rem){
  .info-button {
    font-size: var(--font-size-sm);
  }
}

@media (max-width: 53rem){
  .info-button {
    font-size: var(--font-size-0xs);
  }
}

.info-button:hover{
  font-size: 120%;
}

.active{
  font-size: 120%;
  font-weight: bold;
  border: 0.125rem solid var(--color-tertiary);
  border-radius: 10px;
}

