.units {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.2rem;
  flex-grow: 0.5;
}

@media (max-width: 160rem){
  .units {
    gap: 0.8rem;
  }
}

@media (max-width: 121rem){
  .units {
    gap: 0.6rem;
  }
}

@media (max-width: 81rem){
  .units {
    gap: 0.4rem;
  }
}

@media (max-width: 53rem){
  .units {
    gap: 0.25rem;
  }
}

.units-switch {
  cursor:pointer;
  position: relative;
  display: inline-block;
  --toggle-size: 2rem;
  width: calc(2 * var(--toggle-size));
  height: var(--toggle-size);
}

@media (max-width: 160rem){
  .units-switch {
    --toggle-size: 1.8rem;
  }
}

@media (max-width: 121rem){
  .units-switch {
    --toggle-size: 1.5rem;
  }
}

@media (max-width: 81rem){
  .units-switch {
    --toggle-size: 1.2rem;
  }
}

@media (max-width: 53rem){
  .units-switch {
    --toggle-size: 1rem;
  }
}

.units-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.units-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--toggle-size);
  background-color: var(--color-grey-high-contrast);
  -webkit-transition: .4s;
  transition: .4s;
}

.units-slider:before {
  position: absolute;
  content: "";
  height: calc(0.8 * var(--toggle-size));
  width: calc(0.8 * var(--toggle-size));
  left: calc(0.1 * var(--toggle-size));
  bottom: calc(0.1 * var(--toggle-size));
  border-radius: 50%;
  background-color: var(--color-tertiary);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .units-slider {
  background-color: var(--color-grey-low-contrast);
}

input:focus + .units-slider {
  box-shadow: 0 0 calc(0.125 * var(--toggle-size)) var(--color-text);
}

input:checked + .units-slider:before {
  -webkit-transform: translateX(var(--toggle-size));
  -ms-transform: translateX(var(--toggle-size));
  transform: translateX(var(--toggle-size));
}

.units-description {
  margin: 0;
  font-size: var(--font-size-2xl);
  color: var(--color-text);
  text-align: center;
}

.units-description > span {
  font-weight: bold;
}

@media (max-width: 160rem){
  .units-description {
    font-size: var(--font-size-1xl);
  }
}

@media (max-width: 121rem){
  .units-description {
    font-size: var(--font-size-lg);
  }
}

@media (max-width: 81rem){
  .units-description {
    font-size: var(--font-size-sm);
  }
}

@media (max-width: 53rem){
  .units-description {
    font-size: var(--font-size-0xs);
  }
}