.zoom-bundle {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zoom-bundle > p{
  text-align: left;
  font-size: var(--font-size-2xl);
}

@media (max-width: 160rem){
  .zoom-bundle > p{
    font-size: var(--font-size-1xl);
  }
}

@media (max-width: 121rem){
  .zoom-bundle > p{
    font-size: var(--font-size-lg);
  }
}

@media (max-width: 86rem){
  .zoom-bundle > p{
    font-size: var(--font-size-sm);
  }
}

@media (max-width: 53rem){
  .zoom-bundle > p{
    font-size: var(--font-size-0xs);
  }
}

.zoom-level_icons {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  align-items: center;
  margin: 0;
  padding: 0;
}

.zoom-level_icons li label {
  cursor:pointer;
  width: auto;
  height: auto;
}

.zoom-level_icons li label input{
  display:none;
} 