.layer-bundle {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layer-bundle > p {
  text-align: left;
  font-size: var(--font-size-2xl);
}


@media (max-width: 160rem){
  .layer-bundle > p{
    font-size: var(--font-size-1xl);
  }
}

@media (max-width: 121rem){
  .layer-bundle > p{
    font-size: var(--font-size-lg);
  }
}

@media (max-width: 86rem){
  .layer-bundle > p{
    font-size: var(--font-size-sm);
  }
}

@media (max-width: 53rem){
  .layer-bundle > p{
    font-size: var(--font-size-0xs);
  }
}

.weather-layer_icons {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.weather-layer_icons li label {
  cursor: pointer;
  width: auto;
  height: auto;
}

.weather-layer_icons li label input {
  display: none;
}
